{%extends "main/icnlude/navbar.html" %}

{%block content%}
<div class="row jumbotron">
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10"> <!--Текст-->
        <p class="lead text-center" class="repack">Первый запуск аквариума требует ответственной подготовки.
            ля начала нужно изучить информацию и приобрести нужное оборудование.
            Перед запуском вы уже должны понимать, какие обитатели будут населять
            аквариум и сколько места им нужно. Исходя из этого подбирается форма и
            размер аквариума, а потом всё остальное оборудование: фильтры, лампы, термометры,
            нагреватель, компрессор. А также фон и декорации (по желанию). Они должны соответствовать
            характеристикам аквариума, количеству и потребностям его обитателей.</p>
    </div>
</div>

{% endblock%}


