<!Doctype html> <!-- -->
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-widht, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Сайт про аквариум</title>
  <link rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> <!--Подключение bootstrap-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> <!--Подключение jquery-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script> <!--Подключение js-->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> <!--Подключение js от bootstrap-->
  <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script> <!--Подключение иконок-->
  <link rel="stylesheet" href="css/main.css"> <!--Подключение css из папки-->
</head>

<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar"> <!--Создание навигационной панели-->
    <div class="container">
      <a href=# class="navbar-brand waves-effect">
        <strong class="blue-text">Rostov-times</strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse"
      data-target="#navbarContent"> <!--Создание кнопки адаптивного меню-->
        <span class="navbar-toggler-icon"></span> <!--Иконка для кнопки адаптивного меню-->
      </button> <!--Конец создание кнопки адаптивного меню-->
      <div class="collapse navbar-collapse" id="navbarContent"> <!--Создание самого адаптивного меню-->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a href="#" class="nav-link waves-effect">Главная</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link waves-effect">Новости</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link waves-effect">О нас</a>
          </li>
        </ul>
      </div> <!--Конец создания адаптивного меню-->
    </div>
  </nav> <!--Конец создания навигационной панели-->
</body>
</html>