<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-widht, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Новостной юлог</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> <!--Подключение bootstrap-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> <!--Подключение jquery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <!--Подключение js-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!--Подключение js от bootstrap-->
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script> <!--Подключение иконок-->
    <link rel="stylesheet" href="/mysite/main/static/mainstyle.css"> <!--Подключение css из папки-->
</head>

<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Rostow-times</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark active" href="/">Главная</a>
        <a class="p-2 text-dark" href="/news">Новости</a>
    </nav>
</div>
{%block content%}

{% endblock%}
</body>
<footer class="page-footer font-small blue pt-4"> <!--Футер сайта-->
    <div class="container-fluid">
        <div class="row padding text-center">
            <div class="col-12">
                <h2>Наши контакты</h2>
            </div>
            <div class="col-12 social padding">
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-google-plus-g"></i></a>
            </div>
        </div>
    </div>
</footer> <!--Конец футера сайта-->
</html>